name: terraform handler

on:
  workflow_call:
    inputs:
      action:
        description: ''
        required: true
        type: string
      tag_partial_versions:
        description: ''
        required: false
        default: false
        type: boolean
      plan_filename:
        description: ''
        required: false
        type: string
        default: plan
      terraform_version:
        description: ''
        required: false
        default: ${{ vars.terraform_version }}
        type: string
      ovpn_validation_addr:
        description: ''
        required: false
        default: ${{ vars.ovpn_validation_addr }}
        type: string
    secrets:
      TERRAFORM_CLOUD_TOKEN:
        description: ''
        required: false
      OPENVPN_CONFIG:
        description: ''
        required: false
      AZURE_CREDENTIALS:
        description: ''
        required: false
      VAULT_CREDENTIALS:
        description: ''
        required: false
      AWS_CREDENTIALS:
        description: ''
        required: false
      OPENSTACK_CONFIG:
        description: ''
        required: false
      GH_TOKEN:
        description: ''
        required: true
      TFVARS:
        description: ''
        required: false

jobs:
  handler:
    runs-on: ubuntu-latest
    env:
      GITHUB_TOKEN: ${{ secrets.GH_TOKEN }}
    steps:
      - run: env | sort
      - run: cat ${GITHUB_EVENT_PATH}
      - uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: ${{ inputs.terraform_version }}
      - uses: actions/checkout@v6

      # Connect to VPN ########################################################
      - if: secrets.OPENVPN_CONFIG
        uses: ptonini-actions/openvpn@v1
        with:
          openvpn_config: ${{ secrets.OPENVPN_CONFIG }}
          validation_addr: ${{ inputs.ovpn_validation_addr }}

      # Login to cloud providers ##############################################
      - uses: ptonini-actions/cloud-login@v1
        with:
          vault_credentials: ${{ secrets.VAULT_CREDENTIALS }}
          aws_credentials: ${{ secrets.AWS_CREDENTIALS }}
          azure_credentials: ${{ secrets.AZURE_CREDENTIALS }}
          openstack_config: ${{ secrets.OPENSTACK_CONFIG }}

      # Initialize terraform ##################################################
      - name: initialize module
        run: terraform init -input=false && echo '${{ secrets.TFVARS }}' > terraform.tfvars.json
        env:
          TF_TOKEN_app_terraform_io: ${{ secrets.TERRAFORM_CLOUD_TOKEN }}

      # Publish module release ################################################
      - if: inputs.action == 'publish'
        run: terraform validate
      - if: inputs.action == 'publish'
        uses: ptonini-actions/create-release@v1
        with:
          tag_partial_versions: ${{ inputs.tag_partial_versions }}

      # Create plan ###########################################################
      - if: inputs.action == 'plan'
        run: terraform plan -out=${{ inputs.plan_filename }} -no-color -input=false -detailed-exitcode
        id: plan
        continue-on-error: true
      - if: inputs.action == 'plan' && hashFiles(inputs.terraform_plan_filename)
        run: terraform show -no-color ${{ inputs.plan_filename }}
        id: show
      - if: inputs.action == 'plan'
        run: echo '```${{ steps.show.outputs.stdout }}${{ steps.plan.outputs.stderr }}```' >> $GITHUB_STEP_SUMMARY
      - if: inputs.action == 'plan'
        run: gh pr comment ${{ github.event.number }} --edit-last --body '```${{ steps.show.outputs.stdout }}${{ steps.plan.outputs.stderr }}```'
      - if: inputs.action == 'plan' && steps.plan.outputs.exitcode == '2'
        uses: actions/upload-artifact@v6
        with:
          name: plan
          path: ${{ inputs.plan_filename }}
          retention-days: 1
      - if: inputs.action == 'plan' && steps.plan.outputs.exitcode == '2'
        uses: ptonini-actions/set-labels@v1
        with:
          overwrite: true
          github_token: ${{ secrets.GH_TOKEN }}
          labels: |
            plan_created
            plan_run_id: ${{ github.run_id }}
      - if: inputs.action == 'plan' && steps.plan.outputs.exitcode == '1'
        run: exit 1

      # Apply plan ############################################################
      - if: inputs.action == 'apply'
        uses: ptonini-actions/get-labels@v1
        with:
          labels: plan_run_id
      - if: inputs.action == 'apply'
        uses: dawidd6/action-download-artifact@v11
        with:
          name: plan
          run_id: ${{ env.PLANNED_RUN_ID }}
          github_token: ${{ secrets.GH_TOKEN }}
      - if: inputs.action == 'apply'
        run: terraform apply -auto-approve -input=false ${{ inputs.plan_filename }}
        id: apply