name: web application workflow

on:
  workflow_call:
    inputs:
      action:
        description: ''
        required: true
        type: string
      artifact_name:
        description: ''
        required: true
        type: string
      target_artifact_name:
        description: ''
        required: true
        type: string
      directory:
        description: ''
        required: false
        type: string
      build_command:
        description: ''
        required: false
        type: string
      build_directory:
        description: ''
        required: false
        default: build
        type: string
      custom_types:
        description: ''
        required: false
        default: "[]"
        type: string
      aws_bucket:
        description: ''
        required: false
        type: string
      aws_cloudfront_distribution:
        description: ''
        required: false
        type: string
      aws_target_bucket:
        description: ''
        required: false
        type: string
      az_storage_account:
        description: ''
        required: false
        type: string
      az_target_storage_account:
        description: ''
        required: false
        type: string
      az_artifact_container:
        description: ''
        required: false
        type: string
      az_frontdoor_endpoint:
        description: ''
        required: false
        type: string
      ovpn_validation_addr:
        description: ''
        required: false
        default: ${{ vars.ovpn_validation_addr }}
        type: string
      nodejs_version:
        description: ''
        required: false
        default: ${{ vars.nodejs_version }}
        type: string
    secrets:
      NPM_TOKEN:
        description: ''
        required: false
      OPENVPN_CONFIG:
        description: ''
        required: false
      AZURE_CREDENTIALS:
        description: ''
        required: false
      VAULT_CREDENTIALS:
        description: ''
        required: false
      AWS_CREDENTIALS:
        description: ''
        required: false
jobs:
  web-application-workflow:
    runs-on: ubuntu-latest
    steps:
      - run: env | sort
      - run: cat ${GITHUB_EVENT_PATH}
      - uses: actions/setup-node@v6
        with:
          node-version: ${{ inputs.nodejs_version }}

      # Connect to VPN ########################################################
      - if: secrets.OPENVPN_CONFIG
        uses: ptonini-actions/openvpn@v1
        with:
          openvpn_config: ${{ secrets.OPENVPN_CONFIG }}
          validation_addr: ${{ inputs.ovpn_validation_addr }}

      # Login to cloud providers ##############################################
      - uses: ptonini-actions/cloud-login@v1
        with:
          vault_credentials: ${{ secrets.VAULT_CREDENTIALS }}
          aws_credentials: ${{ secrets.AWS_CREDENTIALS }}
          azure_credentials: ${{ secrets.AZURE_CREDENTIALS }}

      # Build artifact ########################################################
      - if: inputs.action == 'build'
        name: build artifact
        run: |
          ${{ inputs.build_command }} && tar czvf ${{ inputs.artifact_name }} ${{ inputs.build_directory }}
          [[ -n ${{ inputs.aws_bucket }} ]] && aws s3 cp ${{ inputs.artifact_name }} "s3://${{ inputs.aws_bucket }}/${{ inputs.artifact_name }}"
          [[ -n ${{ inputs.az_storage_account }} ]] && az storage blob upload --account-name ${{ inputs.az_storage_account }} -c ${{ inputs.az_artifact_container }} -n ${{ inputs.artifact_name }} -f ${{ inputs.artifact_name }} --overwrite
        env:
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}

      # Deploy application ####################################################
      - if: inputs.action == 'deploy'
        name: deploy application
        run: |
          [[ -n ${{ inputs.aws_bucket }} ]] && aws s3 cp "s3://${{ inputs.aws_bucket }}/${{ inputs.artifact_name }}" ${{ inputs.artifact_name }}
          [[ -n ${{ inputs.az_storage_account }} ]] && az storage blob download --account-name ${{ inputs.az_storage_account }} -c ${{ inputs.az_artifact_container }} -n ${{ inputs.artifact_name }} -f ${{ inputs.artifact_name }} --overwrite
          
          tar xzvf ${{ inputs.artifact_name }}
          
          [[ -n ${{ inputs.aws_bucket }} ]] && aws s3 sync --delete --acl public-read ${{ inputs.build_directory }} "s3://${{ inputs.aws_bucket }}/www/${{ inputs.directory }}"
          [[ -n ${{ inputs.az_storage_account }} ]] azcopy sync ${{ inputs.build_directory }} 'https://${{ inputs.az_storage_account }}.blob.core.windows.net/$web/${{ inputs.directory }}' --recursive=true --delete-destination=true
          
          for I in $(jq -c '.[]' <<< "${{ inputs.custom_types }}"); do
            OBJECT=$(jq -r '.object' <<< "${I}")
            CONTENT_TYPE=$(jq -r '."content-type"' <<< "${I}")
          
            [[ -n ${{ inputs.aws_bucket }} ]] && aws s3api put-object --bucket ${{ inputs.aws_bucket }} --key $(realpath -m --relative-to=. www/${{ inputs.directory }}/${OBJECT}) --body ${{ inputs.build_directory }}/${OBJECT} --content-type ${CONTENT_TYPE} --acl public-read
            [[ -n ${{ inputs.az_storage_account }} ]] && az storage blob upload --account-name ${{ inputs.az_storage_account }} -c '$web' -f ${{ inputs.build_directory }}/${OBJECT} -n ${{ inputs.directory }}/${OBJECT} --content-type ${CONTENT_TYPE} --overwrite
          done
          
          [[ -n ${{ inputs.aws_cloudfront }} ]] && aws cloudfront create-invalidation --distribution-id ${{ inputs.aws_cloudfront }} --paths "/*"
          [[ -n ${{ inputs.az_frontdoor_endpoint }} ]] && az afd endpoint purge --endpoint-name ${{ inputs.az_frontdoor_endpoint }} --content-paths "/*"


      # Destroy deployment ####################################################
      - if: inputs.action == 'destroy'
        name: destroy deployment
        run: |
          [[ -n ${{ inputs.aws_bucket }} ]] && aws s3 rm --recursive "s3://${{ inputs.aws_bucket }}/www/${{ inputs.directory }}"
          [[ -n ${{ inputs.az_storage_account }} ]] && az storage blob delete --account-name ${{ inputs.az_storage_account }} -c '$web' -n ${{ inputs.directory }}

      # Approve application ###################################################
      - if: inputs.action == 'approve'
        name: approve application
        run: |  
          [[ -n ${{ inputs.aws_bucket }} ]] && aws s3 cp "s3://${{ inputs.aws_bucket }}/${{ inputs.artifact_name }}" "s3://${{ inputs.aws_target_bucket }}/${{ inputs.target_artifact_name }}"
          [[ -n ${{ inputs.az_storage_account }} ]] && az storage blob download --account-name ${{ inputs.az_storage_account }} -c ${{ inputs.az_artifact_container }} -n ${{ inputs.artifact_name }} -f ${{ inputs.artifact_name }}
          [[ -n ${{ inputs.az_storage_account }} ]] && az storage blob upload --account-name ${{ inputs.az_target_storage_account }} -c ${{ inputs.az_artifact_container }} -n ${{ inputs.target_artifact_name }} -f ${{ inputs.artifact_name }} --overwrite

      
